.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem 4rem 1rem;

  @media (min-width: 1280px) {
    width: 1280px;
  }
}

.divider {
  width: 65px;
  border-bottom: 4px solid #c0c0c0;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
